<form class="form-horizontal col-md-6 col-md-offset-3 pa-0 mt-1">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      {{input type='text' class="form-control" placeholder='Email Address' value=email}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      {{input type='password' class="form-control" placeholder="Password" value=password}}
    </div>
  </div>

  {{#if errorMessage}}
    <div class="form-group">
      <div class="col-sm-10 col-sm-push-2">
        <div class="alert alert-danger mb-0">{{{errorMessage}}}</div>
      </div>
    </div>
  {{/if}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" {{action 'loginUser' email password}}>Login</button>
    </div>
  </div>
</form>
