{{#link-to 'topic.index' model.slug tagName='div' classNames='card-block'}}
  <h4 class="card-title">
    {{#highlight-filter
      fieldName='name'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{model.name}}
    {{/highlight-filter}}
  </h4>
  <div class="card-text">
    {{#highlight-filter
      fieldName='description'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{{truncate model.description 140}}}
    {{/highlight-filter}}
  </div>
{{/link-to}}
