<div class="row cropper">

  <div class="col-sm-12 col-md-6 cropper-container">
    <img src={{image}} />
    <div class="original-label mb-1">Original</div>
  </div>

  <div class="col-sm-12 col-md-6 cropped">
    <div class="cropped-avatar">
      {{#if croppedImage}}
        {{croppedImage}}
      {{else}}
        <img src="/assets/images/default-image.png" style="width:100%;">
      {{/if}}
    </div>
    <div class="cropped-label mb-1">Cropped</div>
  </div>
</div>

{{#bs-button type='default' onClick=(action 'getCroppedImage')}}Crop Selection{{/bs-button}}
{{#bs-button type='primary' onClick=(action 'updatePhoto')}}Update Photo to Selection{{/bs-button}}
