<div class="row">
  <div class="col-md-8">
    <h1>About Daily Tech News Show</h1>
    <p>Daily Tech News Show is hosted by Tom Merritt and does what it says in the name. Each show delivers the top stories in tech combined with analysis from regular contributors and guest perspectives from the top names in technology. Or as listener Alan Char says it, “discussion and analysis of tech news in an entertaining and balanced way that is easy to understand.”</p>

    <p>Daily Tech Headlines delivers the essential tech news you need to know. Together our shows attempt to improve the knowledge and understanding of how tools shape our lives.</p>

    <p>Please <a href="http://feeds.feedburner.com/DailyTechNewsShow" target="_blank">SUBSCRIBE HERE</a>.</p>

    <p>If you enjoy the show,  please consider <a href="https://patreon.com/dtns" target="_blank">supporting the show</a> at the low, low cost of a nickel a day on <a href="https://patreon.com/dtns" target="_blank">Patreon</a>. Thank you!</p>

    <h1>About this site</h1>
    <p>The Daily Tech News Show Archive was developed by <a href="http://cat5andmouse.com" target="_blank">Matt Coker</a>, a web developer in Austin, Texas.</p>

    <p>This site is an open-source project, and is built with <a href="http://emberjs.com/" target="_blank">Ember.js</a>, <a href="https://getbootstrap.com" target="_blank">Bootstrap</a><a href="https://firebase.google.com/" target="_blank">Google Firebase</a>, and <a href="https://www.heroku.com/" target="_blank">Heroku</a>. For all bug-reports, feature requests, and contributions, please contribute to the project on <a href="https://github.com/mattcoker/dtns-archive" target="_blank">GitHub</a>.</p>

    <h3>Special Thanks</h3>
    <p>I would like to extend a special thanks to Roger Chang, Steve Iadarola, Tom Merritt, Ryan J. Officer, Troy Swanson, James W. Thatcher, Ragnhild Varmedal, and Jesse Virgil for their feedback and assistance in getting this project off the ground!</p>
  </div>
</div>
