{{#if settings.episodesShowGrid}}
  <div class="card-deck">
    {{#each episodes as |episode|}}
      {{episode-card
        episode=episode
        filterTerm=filterTerm
        filterField=filterField
      }}
    {{/each}}
  </div>
{{else}}
  {{episodes-table
    episodes=episodes
    filterTerm=filterTerm
    filterField=filterField
  }}
{{/if}}
